.experience {
    display: flex;
    width: 100%;
    background-color: #edeeef;
    font-family: 'Montserrat', sans-serif;
    color: #17223c;
}

.experience-section {
    display: flex;
    justify-content: center;
    align-items: middle;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

#work-experience-header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #17223c;
    font-weight: 900;
    letter-spacing: 1px;
}

.experience-item-container {
    display: flex;
    align-items: top;
    min-width: 80%;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: middle;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.elevation {
    width: 50px;
    height: 50px;
    background-image: url('../images/elevation.jpeg');
    background-position: center;
    background-size: cover;
}

.mattersight {
    width: 50px;
    height: 50px;
    background-image: url('../images/Mattersight.png');
    background-position: center;
    background-size: cover;
}

.modernize {
    width: 50px;
    height: 50px;
    background-image: url('../images/modernize.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 0;
}

.company-name {
    font-size: 30px;
    font-weight: 500;
}

#job-title {
    font-weight: bold;
    margin-bottom: 5px;
}

#company-name {
    color: grey;
    margin-bottom: 5px;
}

#job-duration {
    color: grey;
    margin-bottom: 5px;
    font-size: 14px;
}

.resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #17223c;
}

#resume-header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
}

#esume-header:hover {
    text-decoration: underline;
}

@media(max-width: 765px) {
    .experience {
        flex-wrap: wrap;
    }
    .experience-container {
        width: 100%;
    }
    .experience-section {
        display: block;
        width: 100%;
        padding-left: 20px;
    }
    .experience-item-container {
        width: 100%;
    }
    .resume-section {
        display: block;
        width: 100%;
        text-align: center;
        padding: 100px 0px;
    }
}
