.resume {
    width: 100%;
    height: 650px;
    background-image: url("../images/tech.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

.downloads {
    width: 100%;
    height: 50%;
    vertical-align: bottom;
    padding-top: 151px;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 8px;
    text-transform: uppercase;
}

@media(max-width: 865px) {
    .downloads {
        font-size: 4.5rem;
    }
    .resume button {
        padding: 15px 20px
    }
}

@media(max-width: 565px) {
    .downloads {
        font-size: 2.5rem;
    }
    .resume button {
        width: 90%;
        margin: 10px auto;
    }
}
