projects {
    width: 100%;
    height: auto;
    background-color: #edeeef;
    text-align: center;
    padding: 30px 0px;
    color: black;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    width: 35%;
    height: 250px;
    margin: 20px;
}

.proj_overlay {
    opacity: 0;
    background-color: transparent;
    transition: all ease-in-out .3s;
    color: white;
}

.title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: all ease-in-out .3s;
}

.flex-item:hover .title {
    display: block;
}

.flex-item:hover .proj_overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, .8);
    transition: all ease-in-out .3s;
}

.proj1 {
    background-image: url("../images/lfcn.png");
    background-position: center;
    background-size: cover;
}

.proj2 {
    transition: all ease-in-out .3s;
    background-image: url("../images/affinity.png");
    background-size: cover;
}

.proj3 {
    transition: all ease-in-out .3s;
    background-image: url("../images/grade.png");
    background-size: cover;
}

.proj4 {
    transition: all ease-in-out .3s;
    background-image: url("../images/myui.png");
    background-size: cover;
}

@media(max-width: 565px) {
    .flex-container {
        flex-wrap: wrap;
    }
    .flex-item {
        width: 43%;
        height: 150px;
        margin: 10px;
    }
}
